<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/user-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Username</th><th>Name</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of users'>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td><a routerLink='/user-detail/{{user.id}}'>
                <img width='20' height='20' src='assets/details.png' title='User Details'>
            </a> | <a routerLink='/user-edit/{{user.id}}'>
              <img width='20' height='20' src='assets/pencil-icon.png' title='User Edit'></a></td>
        </tr>
    </tbody>
</table>