<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic"> [{{title}}]</span>
    <a routerLink='/movie-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
        <th>ID</th><th>Title</th><th>Year</th><th>Action</th>
    </tr>
    </thead>
    <tbody>
        <!--the property "movies" must be defined in your movie-list component ts file-->
        <tr *ngFor='let movie of movies'>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td>Detail | Edit</td>
    </tr>
    </tbody>

</table>
