<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/credit-list">Return to List</a></span>
    </section>
    <main *ngIf='credit' class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{credit.id}}</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input [(ngModel)]="credit.movie.title" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input [(ngModel)]="credit.movie.year" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Rating:</td>
                <td><input [(ngModel)]="credit.movie.rating" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Director:</td>
                <td><input [(ngModel)]="credit.movie.director" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Actor Name:</td>
                <td><input [(ngModel)]="credit.actor.firstName + ' ' + credit.actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="credit.actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birthdate:</td>
                <td><input [(ngModel)]="credit.actor.birthDate" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><input [(ngModel)]="credit.role" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span>
        <span>&nbsp;<button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>