<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/user-list">Return to List</a></span>
    </section>
    <main *ngIf='user' class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input [(ngModel)]="user.username" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input [(ngModel)]="user.password" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="user.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="user.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input [(ngModel)]="user.phoneNumber" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input [(ngModel)]="user.email" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Collection Value:</td>
                <td><input [(ngModel)]="user.collectionValue" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span>
        <span>&nbsp;<button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>